.header{
    width: 100%;
    height: 800px;
    background-color: #f3dcc9;
    min-width: 750px;
}
.header-container{
    display: inline-block;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.header-items{
    height: 700px;
}
.center-items{
    position: absolute;
    align-items: center;
    text-align: center;
    top: 30%;
    width: 100%;
    min-width: 600px;
}
.tagline, .betis, .login2{
    font-family: 'Kanit', sans-serif;
}
.tagline{
    position: relative;
    color: #D53D40;
    margin-top: 0;
}
.betis{
    color: #743A15;
    margin: 20px;
}
.login2{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background-color: #743A15;
    height: 48px;
    width: 136px;
    border-radius: 3px;
}
.header-bottom{
    background-color: #513320;
    height: 100px;
}
.orang-duduk-container,
.petunjuk-container{
    margin: 0;
    padding: 0;
}
.orang-duduk{
    position: relative;
    top: 320px;
    right: 450px;
    z-index: 1;
}
.grass1{
    position: relative;
    top: 220px;
    right: 800px;

}
.grass2{
    position: relative;
    top: 230px;
    right: 600px;

}
.petunjuk{
    position: relative;
    bottom: 180px;
    left: 580px;
    height: 400px;
}
.batu1{
    position: relative;
    left: 600px;
    bottom: 178px;
    height: 50px;
    z-index: 1;
}
.batu2{
    position: relative;
    left: 480px;
    bottom: 180px;
}
.daun{
    position: relative;
    left: 425px;
    bottom: 160px;
}