.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 70px;
    background-color: #f3dcc9;
    padding: 10px;
    z-index: 2;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
}
.logo-container{
    flex: 1;
}
.logo{
    margin-left: 50px;
    margin-top: 2px;
    height: 50px;
}
.menu-list{
    color: #7C8E0E;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0 5px;
}

.menu-list-item{
    font-family: 'Kanit', sans-serif;
    padding: 0px 30px;
    margin: 15px 30px;
}
.login{
    width: 181px;
    height: 48px;
    background: #5B6A00;
    border-radius: 3px;
    margin-right: 70px;
    margin-left: 20px;
    color: #ffffff;
}
