.youtube{
    width: 100%;
    height: 600px;
    text-align: center;
    color: #5B6A00;
    overflow: hidden;
}
.sponsor{
    margin: 20px;
    padding: 30px;
}
.video-youtube{
    position: relative;
    width: 100%;
    padding: 20px;
}
.iframe{
    width: 900px;
    height: 610px;
}