.youtube{
    height: 700px;
    text-align: center;
    color: #5B6A00;
    overflow: hidden;
}
.sponsor{
    margin: 50px;
    padding: 30px;
    font-size: 36px;
}
.video-youtube{
    position: relative;
    width: 100%;
    padding: 20px;
}
.iframe{
    width: 900px;
    height: 610px;
}